In [1]:
import pandas as pd
import numpy as np

## Importing Dataset¶

In [2]:
fake_df = pd.read_csv("Fake.csv")
true_df = pd.read_csv("True.csv")

In [3]:
fake_df.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
true_df.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

## Inserting a Target Column "label"

In [5]:
fake_df["label"] = 0
true_df["label"] = 1

## Merging True and Fake Dataframes¶

In [6]:
news = pd.concat([fake_df, true_df], axis=0)

In [7]:
news.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [8]:
news.isnull().sum()

title      0
text       0
subject    0
date       0
label      0
dtype: int64

## Removing unnecessary columns

In [9]:
news = news.drop(['title','subject','date'],axis=1)

In [10]:
news.head()

                                                text  label
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0

## Reshuffling the dataframe¶

In [11]:
news = news.sample(frac=1) #Reshuffling

In [12]:
news.head()

                                                    text  label
19522  Obama to crowd on lost factory jobs:  Cuz some...      0
14229  Freedom is under attack across the globe. Radi...      0
12198  MOSCOW (Reuters) - Russian Foreign Minister Se...      1
8242   Frustrated staffers for Marco Rubio s beleague...      0
16564  MADRID (Reuters) - An independent Catalonia wo...      1

In [13]:
news.reset_index(inplace=True)

In [14]:
news.head()

   index                                               text  label
0  19522  Obama to crowd on lost factory jobs:  Cuz some...      0
1  14229  Freedom is under attack across the globe. Radi...      0
2  12198  MOSCOW (Reuters) - Russian Foreign Minister Se...      1
3   8242  Frustrated staffers for Marco Rubio s beleague...      0
4  16564  MADRID (Reuters) - An independent Catalonia wo...      1

In [15]:
news.drop(['index'],axis=1, inplace = True)

In [16]:
news.head()

                                                text  label
0  Obama to crowd on lost factory jobs:  Cuz some...      0
1  Freedom is under attack across the globe. Radi...      0
2  MOSCOW (Reuters) - Russian Foreign Minister Se...      1
3  Frustrated staffers for Marco Rubio s beleague...      0
4  MADRID (Reuters) - An independent Catalonia wo...      1

In [17]:
import re

## Creating a Text Preprocessing Function

In [18]:
def wordopt(text):
    #converting into lowercase
    text = text.lower()

    #Removing URL
    text = re.sub(r'https?://\S+|www\.\S+', '', text)

    #Removing HTML tags
    text = re.sub(r'<.*?>', '', text)

    #Removing punctuation
    text = re.sub(r'[^\w\s]', '', text)

    #Removing digits
    text = re.sub(r'\d', '', text)

    #Removing newline characters
    text = re.sub(r'\n', ' ', text)

    return text

In [19]:
news['text'] = news['text'].apply(wordopt)

In [20]:
news['text']

0        obama to crowd on lost factory jobs  cuz some ...
1        freedom is under attack across the globe radic...
2        moscow reuters  russian foreign minister serge...
3        frustrated staffers for marco rubio s beleague...
4        madrid reuters  an independent catalonia would...
                               ...
44893    beijingtaipei reuters  china urged the united ...
44894    seoulwashington reuters  north korea has threa...
44895    jay dyer st century wireas the recent events a...
44896    a pennsylvania man apparently failed basic bio...
44897    blood donations are urgently needed in the orl...
Name: text, Length: 44898, dtype: object

In [28]:
X = news['text']
y = news['label']

In [29]:
X

0        obama to crowd on lost factory jobs  cuz some ...
1        freedom is under attack across the globe radic...
2        moscow reuters  russian foreign minister serge...
3        frustrated staffers for marco rubio s beleague...
4        madrid reuters  an independent catalonia would...
                               ...
44893    beijingtaipei reuters  china urged the united ...
44894    seoulwashington reuters  north korea has threa...
44895    jay dyer st century wireas the recent events a...
44896    a pennsylvania man apparently failed basic bio...
44897    blood donations are urgently needed in the orl...
Name: text, Length: 44898, dtype: object

In [30]:
y

0        0
1        0
2        1
3        0
4        1
        ..
44893    1
44894    1
44895    0
44896    0
44897    0
Name: label, Length: 44898, dtype: int64

In [31]:
from sklearn.model_selection import train_test_split

In [35]:
X_train, X_test, y_train, y_test = train_test_split (X, y, test_size=0.3, random_state = 42)

In [36]:
X_train.shape

(31428,)

In [37]:
X_test.shape

(13470,)

## Feature Extraction

In [ ]:
from sklearn.feature_extraction.text import TfidVectorizer